@import '~scss/_input';
@import '~scss/_transition';
@import '~scss/_center-items';

.messenger-link {
	$messenger-color: #0084ff;

	margin: 10px 0;

	&:hover {
		text-decoration: none;
	}

	&--button {
		@include default-input();
		@include center-items();
		flex-direction: row;

		border: 1px solid;
		border-color: white;
		background-color: $messenger-color;
		color: white;

		margin: 0;
		padding: 0 8px;

		@include transition(md);

		&:hover, &:focus {
			border-color: $messenger-color;
			background-color: white;
			color: $messenger-color;

			.button--svg-icon {
				.svg-icon--path {
					fill: $messenger-color;
				}
			}
		}

		.button {
			&--svg-icon {
				width: 34px;

				.svg-icon--path {
					fill: white;
				}
			}

			&--title {
				padding: 0 15px;

				font-size: 1.1em;
				font-weight: 400;
				text-align: center;
			}
		}

		&--reversed {
			border-color: $messenger-color;
			background-color: white;
			color: $messenger-color;

			&:hover, &:focus {
				border-color: white;
				background-color: $messenger-color;
				color: white;

				.button--svg-icon {
					.svg-icon--path {
						fill: white;
					}
				}
			}

			.button {
				&--svg-icon {
					.svg-icon--path {
						fill: $messenger-color;
					}
				}
			}
		}
	}
}