@import '~scss/_input';
@import '~scss/_transition';
@import '~scss/_shadow';
@import '~scss/_center-items';
@import '~scss/_opacity-colors';

.messenger-link {
	$messenger-color: #0084ff;

	font-size: 1.1em;
	font-weight: 400;
	text-align: center;

	width: 100%;

	&:hover {
		text-decoration: none;
	}

	&--button {
		@include default-input();
		@include center-items();
		flex-direction: row;


		border: 1px solid $messenger-color;
		background-color: $messenger-color;
		margin: 0;

		@include white-color(1);
		@include transition(sh);
		@include shadow(sm);

		&:hover {
			color: $messenger-color;
			@include white-background(1);

			.svg-icon--path {
				fill: $messenger-color;
			}
		}
	}

	&--svg-icon {
		width: 20%;

		.svg-icon--path {
			fill: white;
		}
	}
}