@import '../../scss/input-reset';
@import '../../scss/opacity-colors';
@import '../../scss/transition';

.hide-order-button {
	$height: 50px;

	@include input-reset();
	height: $height;
	margin: 15px 0;
	border-radius: $height/2;
	font-size: 2em;

	@include black-color(0.6);
	@include transition(md);

	&:hover {
		@include black-background(0.05);
	}

	&:focus {
		@include black-background(0.1);
	}
}