@import '~scss/_opacity-colors';
@import '~scss/_transition';
@import '~scss/_center-items';

.ending-screen {
	@include center-items();

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 100%;

	@include white-background(1);
	@include transition(sh);
	transition-property: opacity;

	&--hidden {
		transform: translate(100%, 0);
		opacity: 0;
	}

	&--container {
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.container {
			&--prompt {
				@include center-items();
				margin-top: 100px;

				.prompt--text {
					text-align: center;
					font-weight: 100;
					font-size: 2em;
				}
			}

			&--code-copier-box {
				@include center-items();
			}

			&--buttons {
				@include center-items();
				margin-bottom: 100px;
			}
		}
	}
}