@import '~scss/_opacity-colors';
@import '~scss/_transition';
@import '~scss/_center-items';

.ending-screen {
	@include center-items();

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;

	@include white-background(1);
	@include transition(sh);
	transition-property: opacity;

	&--hidden {
		transform: translate(100%, 0);
		opacity: 0;
	}
}