@import '~scss/_opacity-colors';
@import '~scss/_transition';
@import '~scss/_center-items';

.ending-screen {
	@include center-items();

	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;

	width: 400px;
	padding: 50px 40px;
	border-radius: 10px;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include white-background(1);
	@include transition(sh);
	transition-property: opacity;

	&--hidden {
		transform: translate(200%, 0);
		opacity: 0;
	}

	&--prompt {
		@include center-items();

		.prompt--text {
			text-align: center;
			font-weight: 300;
			font-size: 2em;
			@include black-color(0.5);
		}
	}

	&--propmt, &--code-copier-box, &--buttons {
		@include center-items();
		width: 100%;
	}

	&--code-copier-box {
		margin-top: 30px;
		margin-bottom: 60px;
	}

	&--buttons {
		padding: 0 20px;
	}
}