@import '../../scss/variables';
@import '../../scss/shadow';
@import '../../scss/transition';
@import '../../scss/white-background';

.pagination {
	&--button {
		$button-height: 50px;

		cursor: pointer;

		width: 100%;
		height: $button-height;
		padding: 10px;
		border-width: 0;
		color: $body-color;

		display: flex;
		justify-content: center;
		align-items: center;

		@include transition(sh);
		@include shadow(sm);
		@include whiteBackground(0.9);

		&:hover {
			@include shadow(md);
			@include whiteBackground(1);
		}

		&:disabled {
			cursor: default;
			@include shadow(sm);
			@include whiteBackground(0.2);
		}

		&--previous {
			border-top-left-radius: $button-height/2;
			border-bottom-left-radius: $button-height/2;
		}

		&--next {
			border-top-right-radius: $button-height/2;
			border-bottom-right-radius: $button-height/2;
		}
	}
}