@import '../../scss/variables';
@import '../../scss/shadow';

.pagination {
	&--button {
		$button-height: 50px;

		cursor: pointer;

		width: 100%;
		height: $button-height;
		padding: 10px;
		border-width: 0;
		background-color: $body-bg;
		color: $body-color;

		display: flex;
		justify-content: center;
		align-items: center;

		transition-duration: 100ms;
		@include shadow(sm);

		&:hover {
			@include shadow(md);
		}

		&:disabled {
			cursor: default;
			background-color: rgba(0, 0, 0, 0.1);
			@include shadow(sm);
		}

		&--previous {
			border-top-left-radius: $button-height/2;
			border-bottom-left-radius: $button-height/2;
		}

		&--next {
			border-top-right-radius: $button-height/2;
			border-bottom-right-radius: $button-height/2;
		}
	}
}