@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import '../../scss/shadow';
@import '../../scss/transition';
@import '../../scss/whiteBackground';
@import '../../scss/button-reset';

.order {
	$list-width: 400px;

	position: fixed;
	top: 0;
	bottom: 0;
	left: auto;
	right: 0;

	height: 100%;

	@include whiteBackground(1);
	@include shadow(md);

	transition-property: transform;
	@include transition(md);

	@include media-breakpoint-down(sm) {width: 100%;}
	@include media-breakpoint-between(sm, md) {width: 70%;}
	@include media-breakpoint-between(md, lg) {width: 40%;}
	@include media-breakpoint-up(lg) {width: 30%;}

	&--closed {
		transform: translate(100%);
	}

	&--list {
		padding: 20px !important;
		max-height: 100%;
		overflow: auto;

		.list--item-box {
			padding: 6px;
		}
	}

	&--button-box {
		display: flex;
		justify-content: center;
		align-items: center;

		.button-box {
			&--closing {
				$height: 50px;

				@include button-reset();
				height: $height;
				margin: 15px 0;
				border-radius: $height/2;
				font-size: 2em;
				color: rgba(0, 0, 0, 0.6);

				@include transition(md);

				&:hover {
					background-color: rgba(0, 0, 0, 0.05);
				}

				&:focus {
					background-color: rgba(0, 0, 0, 0.1);
				}
			}
		}
	}
}