@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import '../../scss/shadow';
@import '../../scss/transition';
@import '../../scss/whiteBackground';

.order {
	$list-width: 400px;

	position: fixed;
	top: 0;
	bottom: 0;
	left: auto;
	right: 0;

	max-width: $list-width;
	height: 100%;
	padding: 20px;

	@include whiteBackground(1);
	@include shadow(md);

	transition-property: transform;
	@include transition(md);

	&--closed {
		transform: translate($list-width);
	}

	&--list {
		.list--item-box {
			padding: 6px;
		}
	}
}