@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import '../../scss/shadow';

.order {
	$mobile-height: 70px;
	$desktop-width: 100px;

	position: fixed;
	top: 0;
	bottom: 0;
	left: auto;
	right: 0;

	width: $desktop-width;
	height: 100%;

	background-color: $body-bg;
	@include shadow(md);

	transition-property: transform;
	transition-duration: 150ms;
	transition-timing-function: ease-out;

	@include media-breakpoint-down(sm) {
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: $mobile-height;
	}

	&--closed {
		transform: translate($desktop-width);

		@include media-breakpoint-down(sm) {
			transform: translate(0, $mobile-height);
		}
	}

	.list {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-down(sm) {
			flex-direction: row;
		}

		&--item-box {
			margin: 15px;

			@include media-breakpoint-down(sm) {
				max-height: 100%;
				width: auto;
			}
		}
	}
}