@import '../../scss/shadow';
@import '../../scss/transition';
@import '../../scss/whiteBackground';

.item-search-card {

	cursor: pointer;

	max-width: 100%;
	height: auto;
	margin: 10px;

	&--top-part, &--bot-part {
		@include whiteBackground(0.95);
		@include transition(md);

		transition-property: box-shadow;
	}

	&:hover, &:focus {
		.item-search-card {
			&--top-part, &--bot-part {
				@include whiteBackground(1);

				.visual-box--action-box {
					opacity: 1;

					.action-box--sign {
						transform: scale(1);
					}
				}
			}
		}
	}

	&--top-part {
		padding: 12px;

		border-top-left-radius: 50%;
		border-top-right-radius: 50%;

		position: relative;

		.top-part--visual-box {
			.visual-box--action-box {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;

				display: flex;
				justify-content: center;
				align-items: center;

				margin: 15px;
				border-radius: 50%;
				background-color: rgba(0, 0, 0, 0.5);
				opacity: 0;

				@include transition(sh);
			}
		}

		.action-box {
			&--sign {
				padding: 10px;

				border-radius: 50%;
				color: white;

				transform: scale(0);

				@include transition(md);

				&--black {background-color: black}
				&--green {background-color: #4CAF50}
				&--red {background-color: #f44336}
			}
		}
	}

	&--bot-part {
		$padding: 15px;

		height: 110px;

		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.bot-part {
			text-align: center;
			font-family: 'Roboto', Arial;

			&--name {
				font-size: 1.1em;
				font-weight: 500;
				text-align: center;
				padding: 0 $padding;
			}

			&--description {
				width: 100%;
				padding: $padding;

				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;

				.description {
					&--type {
						font-size: 0.8em;
						font-weight: 400;
					}

					&--price {
						font-size: 1em;
						font-weight: 100;
					}
				}
			}
		}
	}
}