@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import '../../scss/variables';
@import '../../scss/shadow';
@import '../../scss/transition';
@import '../../scss/opacity-colors';
@import '../../scss/button-reset';

.item-search-card {
	$padding: 10px;

	@include button-reset();
	cursor: pointer;

	max-width: 100%;
	height: auto;
	padding: $padding;

	&--top-part, &--bot-part {
		border: 2px solid transparent;
		@include white-background(1);
		@include transition(md);

		transition-property: box-shadow, border;
	}

	&:hover {
		.item-search-card {
			&--top-part, &--bot-part {
				.visual-box--action-box {
					opacity: 1;

					&--active {
						.action-box--sign {
							@include media-breakpoint-up(sm) {
								background-color: $color-red;
							}
						}
					}

					.action-box--sign {
						transform: scale(1);
					}
				}
			}
		}
	}

	&:focus {
		.item-search-card {
			&--top-part, &--bot-part {
				border-color: rgba(0, 0, 0, 0.3);
			}
		}
	}

	&--top-part {
		$padding: 12px;

		padding: $padding;

		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		border-bottom: 0;

		position: relative;

		.top-part--visual-box {
			.visual-box--action-box {
				&--active {
					opacity: 1;

					.action-box--sign {
						transform: scale(1);
						background-color: $color-green;

						&:hover {
							background-color: $color-red;
						}
					}
				}

				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;

				display: flex;
				justify-content: center;
				align-items: center;

				margin: $padding;
				border-radius: 50%;
				opacity: 0;

				@include black-background(0.7);
				@include transition(sh);
			}
		}

		.action-box {
			&--sign {
				padding: 10px;
				border-radius: 50%;
				color: white;
				font-size: 3em;

				transform: scale(0);

				@include black-background(1);
				@include transition(md);
			}
		}
	}

	&--bot-part {
		$padding: 15px;

		height: 110px;

		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top: 0;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.bot-part {
			text-align: center;

			&--name {
				font-size: 1.1em;
				font-weight: 500;
				text-align: center;
				padding: 0 $padding;
			}

			&--description {
				width: 100%;
				padding: $padding;

				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;

				.description {
					&--type {
						font-size: 0.8em;
						font-weight: 400;
					}

					&--price {
						font-size: 1em;
						font-weight: 100;
					}
				}
			}
		}
	}
}