@import '~scss/_opacity-colors';
@import '~scss/_center-items';

.start-info {
	@include center-items();

	margin-top: 100px;
	margin-bottom: 100px;

	&--logo-box {
		$size: 120px;

		width: $size;
		height: $size;
	}

	&--text {
		font-size: 1.7em;
		font-weight: 100;
		margin-bottom: 0;
		margin-top: 10px;
		margin-left: 20px;

		@include white-color(0.9);

		&--bold {
			font-weight: 700;
		}
	}
}