@import '~scss/_opacity-colors';
@import '~scss/_center-items';

.start-info {
	text-align: center;
	margin-top: 200px;

	&--description {
		@include center-items();

		.description {
			&--text {
				font-size: 2em;
				font-weight: 100;

				@include white-color(0.9);

				&--bold {
					font-weight: 700;
				}
			}
		}
	}
}