@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import '~scss/_opacity-colors';
@import '~scss/_center-items';

.start-info {
	$margin-normal: 170px;
	$margin-mobile: 80px;

	@include center-items();

	margin: $margin-normal 0;

	@include media-breakpoint-down(sm) {
		flex-direction: column;
		margin: $margin-mobile 0;
	}

	&::before {
		background: url('https://cdn.thetrackernetwork.com/cdn/fm/AFDAllama.jpg');

		width: 100%;
		height: 100%;

		z-index: -1;
		display: block;
		position: absolute;
		content: ' ';

	}

	&--logo-box {
		$size-normal: 190px;
		$size-mobile: 120px;

		width: $size-normal;
		height: $size-normal;

		@include media-breakpoint-down(sm) {
			width: $size-mobile;
			height: $size-mobile;
		}
	}

	&--text {
		font-size: 2.5em;
		font-weight: 100;
		margin-bottom: 0;
		margin-top: 30px;
		margin-left: 20px;

		@include white-color(0.9);

		@include media-breakpoint-down(sm) {
			text-align: center;
			margin-left: 0;
			font-size: 2.1em;
			padding: 10px;
		}

		&--bold {
			font-weight: 400;
		}
	}
}