@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import '~scss/_shadow';
@import '~scss/_transition';
@import '~scss/_opacity-colors';
@import '~scss/_center-items';

.order-info {
	$list-width: 400px;

	position: fixed;
	top: 0;
	bottom: 0;
	left: auto;
	right: 0;
	z-index: 20;

	height: 100%;

	@include white-background(1);
	@include shadow(md);

	transition-property: transform;
	@include transition(md);

	@include media-breakpoint-down(sm) {width: 100%;}
	@include media-breakpoint-between(sm, md) {width: 70%;}
	@include media-breakpoint-between(md, lg) {width: 40%;}
	@include media-breakpoint-up(lg) {width: 30%;}

	&--hidden {
		transform: translate(100%);
	}

	&--components {
		height: 100%;

		display: flex;
		flex-direction: column;

		.components {
			&--button-box {
				@include center-items();
				padding-top: 5px;
			}

			&--list {
				height: 100%;
			}

			&--confirmation-box {
				@include center-items();
				justify-content: space-around;
				padding-bottom: 60px;
			}
		}
	}
}