@import '../../../../../node_modules/material-colors/dist/colors';

@import '../../../../scss/shadow';
@import '../../../../scss/transition';
@import '../../../../scss/input';
@import '../../../../scss/opacity-colors';
@import '../../../../scss/variables';

.confirm-order-button {
	@include default-input();

	background-color: $md-blue-500;
	font-size: 1.3em;

	@include white-color(0.9);
	@include shadow(sm);
	@include transition(sh);

	&:hover, &:focus {
		background-color: $md-blue-600;
		@include shadow(md);
	}

	&:active {
		background-color: $md-blue-700;
	}

	&:disabled {
		cursor: default;
		@include black-background(0.1);
		@include black-color(0.5);

		&:hover, &:focus {
			@include shadow(sm);
		}
	}
}