@import '../../scss/rarities-colors';

.item-coin {
	width: 100%;
	height: auto;

	border-radius: 50%;

	&--uncommon {background: $gradient-uncommon;}
	&--rare {background: $gradient-rare;}
	&--epic {background: $gradient-epic;}
	&--legendary {background: $gradient-legendary;}

	.item-coin {
		&--image {
			width: 100%;
			height: 100%;

			border-radius: 50%;
		}
	}
}