@import '~material-colors/dist/colors';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import '~scss/_shadow';
@import '~scss/_transition';
@import '~scss/_opacity-colors';
@import '~scss/_input';
@import '~scss/_center-items';

.item-search-card {
	$strip-height: 16px;
	$padding: 10px;

	@include input-reset();
	cursor: pointer;

	max-width: 100%;
	height: auto;
	padding: $padding;

	&--top-part, &--bot-part {
		@include white-background(1);
		@include transition(md);
		@include shadow(sm);

		transition-property: box-shadow, border;
	}

	&:hover {
		.item-search-card {
			&--top-part, &--bot-part {
				@include shadow(md);

				.visual-box--action-box {
					opacity: 1;

					&--active {
						.action-box--sign {
							@include media-breakpoint-up(sm) {
								background-color: $md-red-500;
							}
						}
					}

					.action-box--sign {
						transform: scale(1);
					}
				}
			}
		}
	}

	&:focus {
		.item-search-card {
			&--top-part, &--bot-part {
				@include shadow(md);
			}
		}
	}

	&--top-part {
		$padding: 12px;

		padding: $padding;

		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		border-bottom: 0;

		position: relative;

		&::after {
			width: 100%;
			background: $body-bg;
			height: $strip-height;
			content: "";

			display: block;
			position: absolute;
			top: calc(100% - #{$strip-height}/2);
			left: 0;
			right: 0;
		}

		.top-part--visual-box {
			.visual-box--action-box {
				&--active {
					opacity: 1;

					.action-box--sign {
						transform: scale(1);
						background-color: $md-green-500;

						&:hover {
							background-color: $md-red-500;
						}
					}
				}

				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;

				margin: $padding;
				border-radius: 50%;
				opacity: 0;

				@include black-background(0.7);
				@include transition(sh);
				@include center-items();
			}
		}

		.action-box {
			&--sign {
				padding: 10px;
				border-radius: 50%;
				font-size: 3em;

				transform: scale(0);

				@include white-color(1);
				@include black-background(1);
				@include transition(md);
			}
		}
	}

	&--bot-part {
		$padding: 15px;

		padding-top: $strip-height/2;
		height: 110px;

		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.bot-part {
			text-align: center;

			&--name {
				font-size: 1.1em;
				font-weight: 500;
				text-align: center;
				padding: 0 $padding;
			}

			&--description {
				width: 100%;
				padding: $padding;

				@include center-items();

				.description {
					&--price {
						font-size: 1em;
						font-weight: 100;
					}
				}
			}
		}
	}
}