@import '~material-colors/dist/colors';

@import '~scss/_opacity-colors';
@import '~scss/_shadow';
@import '~scss/_center-items';

.circle-order-count {
	$size: 35px;
	width: $size;
	height: $size;

	border-radius: 50%;
	background-color: $md-red-500;

	@include center-items();
	@include shadow(sm);

	&--number {
		@include white-color(1);
	}
}