@import '../../scss/variables';
@import '../../scss/shadow';
@import '../../scss/transition';

.item-card {
	$strip-height: 16px;

	cursor: pointer;

	max-width: 100%;
	height: auto;
	margin: 10px;

	&--top-part, &--bot-part {
		background-color: $body-bg;
		@include shadow(sm);

		@include transition(sh);
		transition-property: box-shadow;
	}

	&:hover {
		.item-card--top-part, .item-card--bot-part {
			@include shadow(md);
		}
	}

	&--top-part {
		padding: 12px;

		border-top-left-radius: 50%;
		border-top-right-radius: 50%;

		position: relative;

		&::after {
			width: 100%;
			background: $body-bg;
			height: $strip-height;
			content: "";

			display: block;
			position: absolute;
			top: calc(100% - #{$strip-height}/2);
			left: 0;
			right: 0;
		}
	}

	&--bot-part {
		$padding: 15px;

		height: 110px;
		padding-top: $strip-height/2;

		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.bot-part {
			color: $body-color;
			text-align: center;
			font-family: 'Roboto', Arial;

			&--name {
				font-size: 1.1em;
				font-weight: 500;
				text-align: center;
				padding: 0 $padding;
			}

			&--description {
				width: 100%;
				padding: $padding;

				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;

				.description {
					&--type {
						font-size: 0.8em;
						font-weight: 400;
					}

					&--price {
						font-size: 1em;
						font-weight: 100;
					}
				}
			}
		}
	}
}