@import '../../scss/shadow';
@import '../../scss/transition';
@import '../../scss/whiteBackground';

.name-search-bar {
	$inputHeight: 50px;

	width: 100%;
	padding: 0 15px;

	&--input {
		width: 100%;
		height: $inputHeight;
		padding: 0 $inputHeight/2;

		border-width: 0;
		border-radius: $inputHeight/2;

		@include whiteBackground(0.6);
		@include shadow(sm);

		@include transition(sh);

		&:hover, &:focus {
			@include whiteBackground(0.9);
			@include shadow(md);
		}
	}
}