@import '~material-colors/dist/colors';

@import '~scss/_transition';
@import '~scss/_input';
@import '~scss/_opacity-colors';
@import '~scss/_center-items';

.item-order-card {
	@include input-reset();
	position: relative;
	cursor: pointer;

	&:hover, &:focus {
		.item-order-card--action-box {
			opacity: 1;

			.action-box--sign {
				transform: scale(1);
			}
		}
	}

	&--action-box {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		border-radius: 50%;
		opacity: 0;

		@include black-background(0.6);
		@include transition(sh);
		@include center-items();

		.action-box {
			&--sign {
				padding: 5px;

				border-radius: 50%;
				background-color: $md-red-500;
				color: white;

				transform: scale(0);

				@include transition(md);
			}
		}
	}
}