@import '../../../../scss/opacity-colors';
@import '../../../../scss/variables';
@import '../../../../scss/shadow';
@import '../../../../scss/center-items';

.circle-order-count {
	$size: 35px;
	width: $size;
	height: $size;

	border-radius: 50%;
	background-color: $color-red;

	@include center-items();
	@include shadow(sm);

	&--number {
		@include white-color(1);
	}
}