@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import '../../scss/shadow';
@import '../../scss/transition';
@import '../../scss/opacity-colors';
@import '../../scss/input-reset';

.order-open-button {
	$size: 5.5em;
	$icon-size: 1.8em;

	@include input-reset();

	cursor: pointer;

	z-index: 3;
	position: fixed;
	right: 20vh;
	bottom: 20vh;

	width: $size;
	height: $size;
	border-radius: 50%;
	color: #43A047;

	display: flex;
	justify-content: center;
	align-items: center;

	@include white-background(1);
	@include shadow(sm);
	@include transition(md);
	transition-property: box-shadow, transform;

	@include media-breakpoint-down(md) {
		right: 50%;
		bottom: 10vh;
	}

	&:hover {
		@include shadow(md);
	}

	transform: translate(50%, 50%) scale(1);

	&--closed {
		transform: translate(50%, 50%) scale(0);
	}

	&--icon {
		font-size: $icon-size;
	}
}