@import '../../scss/transition';
@import '../../scss/opacity-colors';

.black-curtain {
	cursor: pointer;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 100%;

	z-index: 15;

	@include transition(md);
	transition-property: background-color;

	&--showed {
		left: 0;
		@include black-background(0.8);
	}
}