.searching {
	margin-top: 200px;
	margin-bottom: 300px;

	> * {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&--items-list-box {
		margin-top: 100px;
	}

	&--pagination-box {
		margin-top: 90px;
	}
}