.searching {
	&--items-list-box, &--pagination-box {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&--items-list-box {
		margin-top: 200px;
	}

	&--pagination-box {
		margin-top: 60px;
		margin-bottom: 300px;
	}
}