@import '~scss/_shadow';
@import '~scss/_transition';
@import '~scss/_opacity-colors';
@import '~scss/_input';

.name-search-bar {
	$inputHeight: 50px;

	width: 100%;
	padding: 0 15px;

	&--input {
		@include default-input();
		cursor: auto;
		width: 100%;
		height: $inputHeight;
		padding: 0 $inputHeight/2;

		border-width: 0;
		border-radius: $inputHeight/2;

		@include white-background(0.95);
		@include shadow(sm);

		@include transition(sh);

		&:hover, &:focus {
			@include white-background(1);
			@include shadow(md);
		}
	}
}