@import '~material-colors/dist/colors';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import '~scss/_shadow';
@import '~scss/_transition';
@import '~scss/_opacity-colors';
@import '~scss/_input';
@import '~scss/_center-items';

.order-open-button {
	$size: 5.5em;
	$icon-size: 1.8em;

	@include input-reset();

	cursor: pointer;

	z-index: 3;
	position: fixed;
	right: 20vh;
	bottom: 20vh;

	width: $size;
	height: $size;
	border-radius: 50%;
	color: $md-green-500;

	@include center-items();
	@include white-background(1);
	@include shadow(sm);
	@include transition(md);
	transition-property: box-shadow, transform;

	@include media-breakpoint-down(md) {
		right: 50%;
		bottom: 10vh;
	}

	&:hover {
		@include shadow(md);
		color: $md-green-600;
	}

	transform: translate(50%, 50%) scale(1);

	&--hidden {
		transform: translate(50%, 50%) scale(0);
	}

	&--icon {
		font-size: $icon-size;
	}

	&--items-count {
		position: absolute;
		top: 0;
		right: 0;
	}
}