@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import '~scss/_opacity-colors';
@import '~scss/_center-items';

.header {
	$padding-normal: 150px;
	$padding-mobile: 80px;

	@include center-items();
	flex-direction: column;

	overflow: hidden;
	position: relative;
	padding: $padding-normal 0 ($padding-normal/1.5);

	@include media-breakpoint-down(sm) {
		flex-direction: column;
		padding: $padding-mobile 0;
	}

	&::before {
		background-image: url('/images/background.jpg');
		background-size: cover;

		display: block;
		content: '';
		z-index: -1;

		position: absolute;
		min-width: 100%;
		top: 0;
		bottom: 0;

		transform: scale(1.1);

		overflow: hidden;
		filter: blur(10px) brightness(70%);
	}

	&--site-info {
		@include center-items();
		flex-direction: row;

		margin-bottom: 50px;

		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}

		.site-info {
			&--logo {
				$size-normal: 140px;
				$size-mobile: 120px;

				width: $size-normal;
				height: $size-normal;

				@include media-breakpoint-down(sm) {
					width: $size-mobile;
					height: $size-mobile;
				}
			}

			&--text {
				font-size: 2em;
				font-weight: 100;
				margin-bottom: 0;
				margin-top: 20px;
				margin-left: 30px;

				@include white-color(0.9);

				@include media-breakpoint-down(sm) {
					text-align: center;
					margin-left: 0;
					font-size: 1.8em;
					padding: 5px;
				}

				&--bold {
					font-weight: 400;
				}
			}
		}
	}
}