@import '../../scss/transition';

.item-order-card {
	position: relative;
	cursor: pointer;

	&--action-box {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 0;

		@include transition(sh);

		&:hover {
			opacity: 1;

			.action-box--sign {
				transform: scale(1);
			}
		}
	}

	.action-box {
		&--sign {
			padding: 5px;

			border-radius: 50%;
			background-color: #f44336;
			color: white;

			transform: scale(0);

			@include transition(md);
		}
	}
}