$gradient-uncommon: radial-gradient(#60aa3a,#175117);
$gradient-rare: radial-gradient(#49acf2,#143977);
$gradient-epic: radial-gradient(#b15be2,#4b2483);
$gradient-legendary: radial-gradient(#d37841,#78371d);