$gradient-uncommon: radial-gradient(#60AA3A,#175117);
$gradient-rare: radial-gradient(#49ACf2,#143977);
$gradient-epic: radial-gradient(#B15BE2,#4B2483);
$gradient-legendary: radial-gradient(#D37841,#78371D);

$border-uncommon: #87E339;
$border-rare: #37D1FF;
$border-epic: #E95EFF;
$border-legendary: #E98D4B;