@mixin transition($type: sm) {
	$trans-fast: 100ms;
	$trans-medium: 150ms;
	$trans-long: 200ms;

	$trans-to-return: $trans-fast;

	@if ($type == sh) {
		$trans-to-return: $trans-fast;
	}
	@else if ($type == md) {
		$trans-to-return: $trans-medium;
	}
	@else if ($type == lg) {
		$trans-to-return: $trans-long;
	}
	@else {
		$trans-to-return: $trans-fast;
	}

	transition-duration: $trans-to-return;
	transition-timing-function: ease-out;
}