@import '~scss/_variables';
@import '~scss/_shadow';
@import '~scss/_transition';
@import '~scss/_opacity-colors';
@import '~scss/_input-reset';
@import '~scss/_center-items';

.pagination {
	&--button {
		@include input-reset();
		$button-height: 50px;

		cursor: pointer;

		width: 100%;
		height: $button-height;
		padding: 10px;
		border-width: 0;
		color: $body-color;

		@include center-items();
		@include transition(sh);
		@include shadow(sm);
		@include white-background(0.9);

		&:hover, &:focus {
			@include shadow(md);
			@include white-background(1);
		}

		&:disabled {
			cursor: default;
			@include shadow(sm);
			@include white-background(0.3);
		}

		&--previous {
			border-top-left-radius: $button-height/2;
			border-bottom-left-radius: $button-height/2;
		}

		&--next {
			border-top-right-radius: $button-height/2;
			border-bottom-right-radius: $button-height/2;
		}
	}
}